.accelerate-tier {
    background-color: #263045;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.875rem;
}

.accelerate-tier__header__sub-title {
    font-size: 1.25rem;
    line-height: 2rem;
}

.accelerate-tier__header__title {
    font-size: 1.625rem;
    line-height: 2rem;
    font-weight: bold;
}

.accelerate-tier__description {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.375rem;
}

.accelerate-tier__description, ul {
    padding-top: 2.125rem;
}
li + li {
    padding-top: 1.875rem;
}